.bloom-container {
    position: relative;
    overflow: hidden;
    //width: calc(100vw - 72px);
    width: auto;
    padding-top: 64px;
    height: calc(100vh - 62px);
  }

.bloom-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
